@import url('https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700,800,900');

div{
  width: 100%;
}
body{

}
.home{
  height: 1800px;
  background: #f5f5f5;
  height: 90vh;
}
.home .content, .cta{
  height: 600px;
}
.header, .footer {
  height: 60px;
  background: #fff;
  padding: 10px 5%;
  box-sizing: border-box;
  border: none;
}
.footer{
  display: none;
}
.header .logo{
  width: 50%;
  float: left;
}
.header .right-nav{
  width: 50%;
  height: 26px;
  float: right;
  padding: 7px 0;
  text-align: right;
}
.header .right-nav a{
  cursor: pointer;
  height: 26px;
  width: 26px;
}
.insta{
  background: url('./assets/instagram-black.svg') no-repeat;
  transition: opacity .2s ease-in-out;
  opacity: 1;
  width: 26px;
  height: 26px;
}
.insta:hover{
  opacity: .5;
}
.header .logo h1{
  font-family: 'Montserrat', sans-serif;
  color: #7b7b7b;
  font-size: 32px;
  font-weight: 300;
  margin: 0;
  line-height: 40px;
}
.header .logo h1 span{
  color: #000;
  font-weight: 600;
}
.splash{
  background: #f5f5f5;
  background-size: cover;
  height: auto;
  box-sizing: border-box;
  padding: 150px 0;
  font-family: 'Montserrat', sans-serif;
}
@media (min-width:480px){
  .splash .splash-copy{
    width: 30%;
    text-align: center;
  }
}
.splash-copy{
  width: 80%;
  min-width: 300px;
  margin: 0 auto;
  text-align: left;
}
.splash-copy h1{
  margin: 15px 0;
  font-weight: 800;
  color: #3e3e3e;
}
.splash-copy p{
  line-height: 22px;
  color: #7b7b7b;
}
