div{
  width: 100%;
}
.home{
  height: 1800px;
  background: #f5f5f5;
}
.home .content, .cta{
  height: 600px;
}
.header, .footer {
  height: 60px;
  background: #fff;
  padding: 10px 5%;
  box-sizing: border-box;
  border: none;
}
.header .logo h1{
  color: #a5a5a5;
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  line-height: 40px;
}
.header .logo h1 span{
  color: #000;
  font-weight: 900;
}
.splash{
  background: #f5f5f5;
  background-size: cover;
  height: 700px;
}
